@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
	font-family: "UnicreditFont";
	src: url("/fonts/unicredit-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@theme {
	--font-sans: "UnicreditFont", "Arial";
	--color-primary: #007a91;
	--color-brand: #e2001a;
}

:root {
	--ui-primary: var(--color-primary);
	--ui-text-muted: white;
	--ui-text: black;
}
