@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
	font-family: "UnicreditFont";
	src: url("/fonts/unicredit-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@theme {
	--font-sans: "UnicreditFont", "Arial";
	--color-primary: #007a91;
	--color-brand: #e2001a;
	--color-secondary: #666666;
	--color-blackBg: #262626;
	--color-greyBg: #e5e5e5;
	--color-k3: #cccccc;
	--color-secondBtn: #ec6608;
	--color-secondBtnHover: #ff412c;
}

:root {
	--ui-primary: var(--color-primary);
	--ui-text-muted: white;
	--ui-text: black;
}
